<div class="card-index">
  <img src="https://images.unsplash.com/photo-1455621481073-d5bc1c40e3cb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=648b130ffbfad6ee975fdc2da862ea34&auto=format&fit=crop&w=883&q=80g" alt="Avatar" style="width:100%">
  <div class="container-card">
    <h4><b><%=cocktail.name%></b></h4>
    <p><%=link_to "More", cocktail_path(cocktail)%></p>
  </div>
</div>
