<div class="card-index">
  <% if cocktail.photo? %>
  <%= cl_image_tag cocktail.photo, height: 200, width: 300, crop: :fill %>
  <% else %>
   <%= cl_image_tag("five",height: 200, width: 300, crop: :fill) %>
  <%end%>
  <div class="container-card">
    <h4><b><%=cocktail.name%></b></h4>
    <p><%=link_to "More", cocktail_path(cocktail)%></p>
  </div>
</div>
