<div class="card-index">
  <% if cocktail.photo? %>
  <%= cl_image_tag cocktail.photo.url(:thumnail) %>
  <% else %>
   <%= cl_image_tag("ccdetbkyfmcduo2q0vg8.jpg", :height=>128, :width=>256, :crop=>"fit") %>
  <%end%>
  <div class="container-card">
    <h4><b><%=cocktail.name%></b></h4>
    <p><%=link_to "Details", cocktail_path(cocktail)%></p>
  </div>
</div>
