<div class="row">
<% @cocktails.each do |cocktail|%>
<div class="col-12 col-md-4">
  <div class="card">
    <%= render partial:'card', locals: {cocktail: cocktail}  %>
  </div>
</div>
<% end %>
</div>
