// Specific CSS for your home-page
a {
  color: #616668;
}
a:hover {
  color: #da552f;
  text-decoration: none;
}

li{
  margin-top: 10px;
}


.form-new{
  background: white;
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
}

#cocktail_photo{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15%;
}

.flexbox-container-desktop {
  display: flex;
  justify-content: space-around;
}

.flexbox-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image-show {
  img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
}
